:root{
    --purple: rgb(123, 31, 162);
    --violet: rgb(103, 58, 183);
    --pink: rgb(244, 143, 177);

}

@keyframes background-pan {
    from{
        background-position: 0% center;
    }
    to {
        background-position: -200%;
    }
}

body {
    background-color: rgb(10, 10, 10);
    justify-content: center;
    display: flex;
    margin: 0 auto;
    overflow: hidden;
    place-items: center;
}

h1{
    color: white;
    font-family: 'Rubik', sans-serif;
    margin: 300px;
    padding: 20px;
    text-align: center;
}

h1 > .magic{
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
        to right, 
        var(--purple),
        var(--violet),
        var(--pink),
        var(--purple)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    white-space: nowrap;
}
